<app-navbar></app-navbar>
<div class="table-align">
  <h1>Alunos cadastrados</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">IdAluno</th>
        <th scope="col">Nome</th>
        <th scope="col">Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students$ | async">
        <th scope="row">{{ student.idAluno }}</th>
        <td>{{ student.nome }}</td>
        <td>{{ student.telefone }}</td>
      </tr>
    </tbody>
  </table>
</div>
